body {
	background-color: transparent;
}

.flow-list {
	list-style: none;
	padding: 0;
}

.flow-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.flow-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.fetch-flows-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.loading-message {
	display: none;
}
